@media only screen and (max-width: 1700px) {
    .description h1 {
        margin-top: -20px;
    }

    .btn-reserve {
        margin-top: -20px;
    }
}

@media only screen and (max-width: 1400px) {
    .description h1 {
        margin-top: -20px;
    }

    .btn-reserve {
        margin-top: -20px;
    }
}

@media only screen and (max-width: 1170px) {
    .description h1 {
        margin-top: -20px;
    }
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 350px;
        margin-top: -30px;
    }

    .down {
        display: none;
    }

    /********DESCRIPTION*********/
    .description h1 {
        font-size: 250%;
        margin-top: 100px;
        text-align: center;
        font-weight: 100;
        padding: 0 90px;
        font-family: "Raleway", sans-serif;
    }

    .description span {
        font-weight: bold;
        font-style: italic;
    }

    .main-head {
        height: 80vh;
    }

    /*--------------------------*/
    /* THE EVENT */
    /*--------------------------*/
    .title-event h2 {
        font-size: 200%;
    }

    date {
        margin-top: 70px;
        font-size: 140%;
    }

    .each-event li {
        font-size: 200%;
    }

    /*******FAQ********/
    .title-event-info h2 {
        font-size: 200%;
        margin-bottom: 50px;
    }

    .logo-footer {
        width: 150px;
    }
}

@media only screen and (max-width: 600px) {

    /********DESCRIPTION*********/
    .description h1 {
        font-size: 150%;
        margin-top: 50px;
    }

    .description span {
        font-size: 80%;
    }

    .btn-reserve {
        margin-top: 70px;
    }

    .logo {
        width: 350px;
    }

    .main-head {
        height: 70vh;
    }
}

@media only screen and (max-width: 450px) {
    .btn-reserve {
        margin-top: 30px;
    }

    /*******FAQ********/
    .title-event-info h2 {
        font-size: 180%;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 412px) {
    .description h1 {
        font-size: 120%;
        margin-top: 10px;
    }

    .description span {
        font-size: 80%;
    }

    .btn-reserve {
        margin-top: 10px;
    }

    .logo {
        width: 200px;
        margin-top: -10px;
    }
}

@media only screen and (max-width: 360px) {
    .description h1 {
        font-size: 100%;
        margin-top: 10px;
        font-weight: bold;
    }

    .description span {
        font-size: 80%;
    }

    .btn-reserve {
        margin-top: 30px;
    }

    .logo {
        width: 200px;
        margin-top: -10px;
    }
}
