/****************************/
/* IMPORTANT */
/* COLOR: #95A5A6 | #575757 */
/****************************/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  line-height: 145%;
  word-spacing: 2px;
  font-family: "Quicksand", sans-serif;
}

*:focus {
  outline: none;
}

/*--------------------------*/
/* COMMON */
/*--------------------------*/
.description,
.text-radio,
.main-nav li a,
.text-btn,
.go,
.back,
.adult,
.kids,
.label-for,
.title-event {
  text-transform: uppercase;
}

.tab-content,
.icon,
.description,
.main-nav li a {
  color: #fff;
}

.title-event h2 {
  font-weight: 300;
}

/*--------------------------*/
/* HEAD */
/*--------------------------*/
.main-head {
  height: 100vh;
  background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%),
    url("img/event.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1000;
}

header.main-head {
  border-radius: 0 0 100% 100% / 10% 11%;
}

/*--------------------------*/
/* NAV */
/*--------------------------*/
.logo {
  width: 450px;
  padding: 30px;
  margin-top: 40px;
}

.div-logo,
.btn-reserve {
  text-align: center;
}

.main-nav {
  height: 50px;
  background-color: #000;
  margin-top: 50px;
}

.main-nav ul {
  list-style: none;
}

.nav-left {
  float: right;
}

.nav-right {
  float: left;
}

.main-nav li {
  display: inline-block;
  float: left;
  margin-top: 50px;
}

.main-nav li a {
  padding: 0 20px;
  font-size: 75%;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 13px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.reserve {
  margin-top: 9%;
  background-color: #f7e402;
  border-radius: 200px;
  color: #212121;
  text-transform: uppercase;
  font-size: 60%;
  font-weight: bold;
  padding: 18px 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.reserve:hover,
.reserve:active {
  background-color: #cabb03;
  text-decoration: none;
  color: #212121;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.down i {
  color: #fff;
  font-size: 300%;
  margin-top: 90px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.down i:hover,
.down i:active {
  color: #f7e402;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

/*--------------------------*/
/* BACKGROUND IMAGE */
/*--------------------------*/
.back-img {
  height: 45vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))),
    url("img/event.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/event.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

/********DESCRIPTION*********/
.description h1 {
  font-size: 350%;
  margin-top: 80px;
  text-align: center;
  font-weight: 100;
  padding: 0 90px;
  font-family: "Raleway", sans-serif;
}

.description span {
  font-weight: bold;
  font-style: italic;
}

/*--------------------------*/
/* THE EVENT */
/*--------------------------*/
.event {
  background-color: #ffeb00;
  margin-top: -20%;
  padding-bottom: 7%;
  border-radius: 0 0 100% 100% / 9% 4%;
  z-index: 900;
  position: relative;
}

.title-event h2 {
  margin-top: 25%;
  font-family: "Dancing Script", cursive;
  font-size: 300%;
  text-transform: none;
  color: #212121;
  text-align: center;
}

.each-date {
  text-align: center;
}

date {
  color: #212121;
  margin-top: 50px;
  font-size: 180%;
  word-spacing: 20px;
  font-family: "Muli", sans-serif;
}

.each-event ul {
  list-style: none;
}

.each-event li {
  font-size: 250%;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

/*--------------------------*/
/* THE INFO */
/*--------------------------*/
.info {
  position: relative;
  margin-top: -10%;
  background-color: #8900ff;
  /*padding-bottom: 10%;
    border-radius: 0 0 100% 100% / 3% 4%;
    z-index: 1;*/
}

.title-event-info h2 {
  margin-top: 15%;
  font-family: "Dancing Script", cursive;
  font-size: 300%;
  text-transform: none;
  color: #fff;
  text-align: center;
}

info {
  font-size: 150%;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.content-info {
  cursor: pointer;
  color: #fff;
  text-align: center;
}

.content-faq {
  display: none;
}

/*--------------------------*/
/* FOOTER */
/*--------------------------*/
.footer {
  position: relative;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8900ff), to(#000));
  background-image: linear-gradient(to bottom, #8900ff, #000);
  padding-bottom: 10%;
}

.content-footer {
  padding-top: 150px;
}

.foo-midd {
  text-align: center;
}

.logo-footer {
  width: 150px;
}

.copy-all {
  text-align: center;
  color: #fff;
  font-size: 60%;
  margin-top: 60px;
}
